.track-list-item-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 500px;
}

@media only screen and (max-width: 570px) {
  .track-list-item-container {
    width: 400px;
  }
}

.track-list-item-container h3,
p {
  margin: 0;
}

button {
  margin: 0;
}
img {
  width: 100px;
}
@media only screen and (max-width: 420px) {
  .track-list-item-container {
    font-size: small;
    width: 100%;
  }
  .remove-btn {
    width: min-content;
    font-weight: 200;
    font-size: small;
    padding: 0 0.5em;
    padding-bottom: 0.2em;
    text-align: center;
  }
}
@media only screen and (min-width: 420px) {
  .text-input {
    font-size: x-large;
    width: 400px;
  }
}
