.track-list-item-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 500px;
}

@media only screen and (max-width: 570px) {
  .track-list-item-container {
    width: 400px;
  }
}

.track-list-item-container h3,
p {
  margin: 0;
}

button {
  margin: 0;
}
img {
  width: 100px;
}
