.track-item {
  width: 300px;
  padding: 1em 0.2em;
  border-radius: 0.2em;
  margin: 0.5em;
}
.buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.track-item img {
  border-radius: 10px;
  width: 280px;
}

@media only screen and (max-width: 768px) {
  .tracks-container {
    display: block;
  }
}
@media only screen and (min-width: 992px) {
  .tracks-container {
    display: grid;
    grid-template-columns: auto auto;
  }
  .create-new-button {
    margin-left: 0;
    width: fit-content;
  }
  .small-screen-text {
    display: none;
  }
  .large-screen-text {
    display: inline;
  }
}
@media only screen and (min-width: 1320px) {
  .tracks-container {
    display: grid;
    grid-template-columns: auto auto auto;
  }
}
